/* DESKTOP */
.contact {
  padding: 200px 0 0 0;
  display: block;
  min-height: 100vh;
  background: #212121;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(/public/assets/LOGOBG.png);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.container-contact {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* MOBILE */
@media (max-width: 768px) {

  .contact {
    min-height: 1000px;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/public/assets/LOGOBG.png);
    background-size: cover;
    background-position: center;
  }

  .container-contact {
    align-items: center;
  }
  
}
