.carousel-container {
    max-width: 550px;
    margin: 40px auto;
    position: relative;
    margin-top: -130px;

  }
  
  .carousel-slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-image {
    max-width: 100%;
    max-height: 550px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    background-color: #000; /* opțional */
    border-radius: 12px;
    box-shadow: 0 0 15px 0.1px white;
  }
  .slick-dots {
    bottom: 10px;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
  }
  
  .slick-dots li button:before {
    font-family: "slick";
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.85;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
  