/* DESKTOP SECTION  */
.services {
  padding: 180px 0px 0px;
  display: block;
  background: #212121;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(/public/assets/LOGOBG.png); /* imaginea de fundal */
  background-position: center;
  background-repeat:repeat;
  background-attachment: fixed;

}

.container-services {
  width: 100%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  color: grey;
}

.services .row-services-title span {
  display: block;
  color: #fff;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  to {
    text-shadow: 0 0 20px #014d55, 0 0 10px rgba(255, 255, 255, 0.4),
      0 0 30px rgba(255, 255, 255, 0.2);
  }
}

.row-services-title span {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.18em;
  font-weight: 700;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 0px;
}
.service-single { 
  text-align: center;
  position: relative;
  overflow: hidden;
}


.service-single:hover::before {
  left: 100%;
}

.service-single .icon-box-services {
  background: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 14px 14px 14px 14px;
  border: 2px solid #212121;
  position: relative;
  margin: 10px 10px;
}

.service-single .icon-box-outer {
  padding: 5px;
  background: #358f8f;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 0 auto 30px;
  border: 3px solid #fefefe;
  margin-top: 15px;
  transition: transform 1.0s ease-in-out;

}
.icon-box-services img {
  margin-top: 15px;
  transition: transform 1.0s ease-in-out;
}

.service-single .icon-box-outer:hover {
  transform: rotate(360deg);
}

@keyframes pulse {
  to {
    transform: scale(1.3);
  }
}

.services-box-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  margin-right: 50px;
  margin-bottom: 120px;
  
}

.service-single h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin-bottom: 14px;
  font-family: "Josefin Sans", sans-serif;
}

.service-single p {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  font-size: 12px;

}

  .service-single h5 {
    font-size: 16px;
    background: #ffa600;
    padding: 10px 15px;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
  }
  
  .service-single ul {
    list-style: none; /* Elimină bulinele */
    padding: 15px;
    background: rgba(255, 255, 255, 0.1); /* Fundal ușor alb transparent */
    backdrop-filter: blur(5px); /* Efect subtil de blur */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Umbră subtilă */
  }
  
  .service-single ul li {
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
  }

/* MOBILE SECTION  */

@media (max-width: 768px) {
  .service-single .icon-box-services .icon-box-outer {
    width: 100px;
    height: 80px;
    padding-top: 12px;
    font-size: 40px;
  }
  .services {
    padding: 160px 0px 0px;
    display: block;
    background: #212121;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(http://localhost:3000/static/media/LOGOBG.f030bce….png);
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
  }

  .services-box-icons {
    flex-direction: column;
    align-items: center;
  }
  .service-single {
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
  }
  .service-single::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    transition: left 0.7s ease;
  }

  .service-single:hover::before {
    left: 100%;
  }
}
